@model IEnumerable<ProyectoConsultorio.Models.Consulta>

@{
    ViewBag.Title = "Index";
}

<h2>Consultas</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSiguiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sintomas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSiguiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresionA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sintomas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
